@mixin search() {
  form {
    flex-grow: 5;
    background-color: whitesmoke;
    .input-group {
      border: 1px solid #00000026;
    }
    i {
      color: #e40cd4;
      padding: 0.8rem;
      transition: 0.5s;
      cursor: pointer;
      background-color: transparent;
      &:hover {
        background: red;
        color: $color-second;
      }
      //   &:focus {
      //     box-shadow: none;
      //   }
    }
    input {
      border: transparent;
      background-color: transparent;
      &:focus {
        box-shadow: none;
      }
    }
  }
}

@mixin star() {
  .vote {
    i {
      color: #dedfe0;
      font-size: 0.685rem;
    }
    .rate {
      position: absolute;
      top: 0;
      left: 0;
      i {
        color: #f4c150;
        font-size: 0.685rem;
      }
      i:nth-child(5)::before {
        color: #f4c150;
        content: "\f089";
      }
    }
  }
}
