#carousel {
  background-image: url(./../../img/cover.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include search();
}
// #carousel .row {
//   left: 50%;
//   bottom: initial;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   display: block;
//   margin: auto;
// }
