#cate {
  padding: 1.75rem 0;
}
#cate .col-3 {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  flex: 0 0 22%;
  max-width: 22%;
  margin: 0.5rem auto;
}
#cate .col-3 i {
  font-size: 2rem;
  margin-right: 1rem;
}
