#courses {
  .slick-prev:before,
  .slick-next:before {
    color: #000 !important;
  }

  .buttons {
    display: flex;
    justify-content: center;
    .button {
      margin: 8px;
      border: 1px solid #000;
      color: #000;
      padding: 8px;
      text-align: center;
      width: 8em;
      transition: all 300ms ease;
      :hover {
        cursor: pointer;
        background-color: #000;
        color: #fff;
        transition: all 300ms ease;
      }
    }
  }

  .intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(-45deg, #ec5252 0%, #6e1a52 100%);
    color: #ffffff;
    padding: 0.75rem 0;
    .info {
      display: flex;
      align-items: center;
      i {
        font-size: 2.75rem;
        margin-right: 1rem;
        color: #ffffff;
      }
      p {
        margin-bottom: 0;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }

  .list {
    padding-top: 2rem;
    .left {
      background: #f7f8fa;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .right {
      .cost {
        p {
          text-decoration: line-through;
          margin-right: 0.75rem;
          margin-bottom: 0;
          font-size: 0.875rem;
        }
        b {
          font-size: 1.5rem;
        }
      }
    }
    @include star();
  }
}
