#student {
  background: #f7fafb;
}
#student .comment {
  background: #ffffff;
  margin: 0.5rem;
}
#student .img img {
  border: 1px solid #ffffff;
  border-radius: 50%;
}
#student .avatar {
  width: 100px;
  height: 100px;
  background-color: rgb(104 111 122);
}
